.section-principal{
    background-color: #057f55;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Logo\ harvesta\ white\ copy.png");
    background-position: center;
    background-size: 100%;
    
}


.section-2{
    background-image: url(../assets/img/Harvesta.png) ;
    background-size: 506.3488px 84.92px;
    background-position: center 200px;
    background-repeat: no-repeat;
    text-align: center;

    
}


.section-2 p{
    color: white;
    text-decoration: none;
}


.navBar{
    display: flex;
    list-style-type: none;
    gap: 1.25rem;
    background-color: rgba(255, 255, 255, 0.642);
}

.navBar li a{
    text-decoration: none;
    color: rgb(1, 1, 1);
    font-size: 15px;

}

.section-3{
    text-decoration: none;
    color: white;
    font-size: 15px;
    justify-content: center;
}

.section-ourapproach{
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

.section-investment{
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

.section-invest{
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

.section-careers{
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.teoria-flexA{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-evenly;
    gap: .3125rem;
    padding: 25px;
}

.teoria-flexA .div1{
    background-color:#057f55;
    color: white;

}


.teoria-flexA .div2{
    background-color: white;
    color: #057f55;
}

.teoria-flexA .div3{
    background-color:#057f55;
    color: white;

}

.teoria-flexA .div4{
    background-color: white;
    color: #057f55;
}

.teoria-flexA .div5{
    background-color:#057f55;
    color: white;

}

.teoria-flexA .div6{
    background-color: white;
    color: #057f55;
}



.teoria-flex div{
    width: 100px;
    height: 25px;
    gap: 5px;
}

.teoria-flex2{
    display: flex;
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-evenly;
    gap: .3125rem;
    padding: 25px;
    color: black;
}

.teoria-flex2 .div1{
    background-image: url(../assets/img/keyesag.png);
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.teoria-flex2 .div2{
    background-image:url(../assets/img/bondiagri.png);
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.teoria-flex2 .div3{
    background-image:url(../assets/img/ceresavo.png);
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.teoria-flex2 .div4{
    background-image:url(../assets/img/riverafarm.png);
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.teoria-flex2 .div5{
    background-image:url(../assets/img/miketango.png);
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.teoria-flex2 .div6{
    background-image:url(../assets/img/cowlcowl.png);
    background-size: 100% 100%;
    background-position: center center;
    width: 200px;
    height: 200px;
    padding: 20px;
}



@media (max-widht: 1024px){
    .teoria-flex2{
    justify-content: space-around;
    flex-direction: column;
}
}

@media (max-widht:768px){
    .teoria-flex2{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

@media (max-widht: 26.5625rem){
    .teoria-flex2{
        flex-direction: column;
        align-items: center;
    }
    .teoria-flex2{
        font-size: 8px;
}
}


@media (max-widht: 1024px){
    header{
    justify-content: space-around;
}
}
@media (max-widht:768px){
    header{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        gap: 5px
    }
    .navBar{
        padding-bottom: 14px;
    }
    .navBar{
        font-size: 1.5rem;
    }
}

@media (max-widht: 26.5625rem){
    .navBar{
        flex-direction: column;
    }
    .navBar{
        font-size: 8px;
    }

}
